:root {
    --color-gray: gray;
    --color-gray-darken: dimgray;
    --color-orange: #FF8C00;
    --color-text: white;
    --color-border: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 410px;
    background-color: #000000;
    color: white;
    font-size: 25px;
    border-radius: 30px;
    overflow: hidden;
}

.calc__screen {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    height: 70px;
    font-size: 64px;
    line-height: 64px;
}
.calc__history {
    display: none;/*flex*/
    justify-content: flex-end;
    padding: 16px;
    height: 70px;
    font-size: 64px;
    line-height: 64px;
}
.calc__buttons {
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.calc__buttons-grid {
    display: grid;
    grid-gap: 2px;
}

.calc__buttons-grid--engineer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    display: none;
}

.calc__buttons-grid--ordinary {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calc__button {
    /* сброс дефолтных стилей */
    outline: none;
    border: none;

    padding: 20px 24px;
    background-color: var(--color-gray-darken);
    color: var(--color-text);
    text-align: center;
    font: 16px "Avenir Next";
}

.calc__button:hover {
    opacity: 0.8;
}

.calc__buttons-grid--ordinary .calc__button--history {
    grid-column: 1 / span 2;
}

.calc__buttons-grid--ordinary .calc__button--mode {
    grid-column: 3 / span 2;
}

.calc__buttons-grid--ordinary .calc__button--zero {
    grid-column: 1 / span 2;
}


.calc__button--main-operation {
    background-color: var(--color-orange)
}

.calc__button--number {
    background-color: var(--color-gray)
}



.calc__button--main-operation {

}

